// =============================
// Variables de couleurs
// =============================
$primary-color: #262E33; // Vert principal
$secondary-color: #FF5722; // Orange
$background-color: #f4f4f4; // Fond léger
$text-color: #333; // Couleur de texte principal
$border-color: #ddd; // Bordure grise
$photo-border-radius: 10px; // Bordure arrondie pour les images



// =============================
// Style du conteneur principal
// =============================
.animalDetail-container {
  position: relative; /* Permet de positionner les éléments enfants relativement */
  height: auto;
  min-height: 85.2vh;
  justify-content: space-between;
}
.animal_info-details {
  background-color: $background-color;
  padding: 0;
  border-radius: 8px;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  ;
  

  .animal_info-name {
    position: absolute; /* Permet de placer le titre absolument */
    top: 20px; /* Place le titre en haut avec un léger espacement */
    left: 50%; /* Centre le titre horizontalement */
    transform: translateX(-50%); /* Ajuste pour un centrage parfait */
    font-size: 2rem; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: $primary-color; /* Couleur principale */
    text-align: center; /* Centre le texte */
    z-index: 10; /* Assure que le titre est au-dessus des autres éléments */
  }
  
  
}

// =============================
// Bouton demande accueil
// =============================

.center-container {
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: $background-color; /* Optionnel, définit une couleur de fond */
margin: 5px;
}

.adopt-button {
  display: flex; /* Alignement interne si besoin d'icônes */
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(135deg, #4caf50, #087f23); /* Dégradé de vert */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 15px 0px;

  &:hover {
    background: linear-gradient(135deg, #087f23, #4caf50); /* Inversion des couleurs */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); /* Légère élévation */
  }

  &:active {
    transform: translateY(1px); /* Légère descente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    background: #cccccc; /* Couleur gris clair pour les états désactivés */
    cursor: not-allowed;
    box-shadow: none;
  }
}


// =============================
// Style des informations de l'animal
// =============================
.animal_info-left {
  background-color: #f9f9f9; /* Fond gris clair */
  padding: 20px; /* Espacement interne */
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre élégante */
  font-family: 'Roboto', sans-serif; /* Police moderne */
  color: $text-color;

  p {
    margin: 10px 0; /* Espacement entre les paragraphes */
    font-size: 1rem; /* Taille du texte */
    display: flex; /* Alignement des icônes et du texte */
    gap: 10px; /* Espacement entre l'icône et le texte */
    align-items: center; /* Centrage vertical */
  }

  span {
    font-weight: bold; /* Texte en gras pour les titres */
    color: #555; /* Couleur différente pour les titres */
  }

  .value {
    color: #7a2424; /* Couleur spécifique pour les valeurs */
    font-weight: normal; /* Poids normal pour les valeurs */
  }

  .animal_info-description {
    margin-top: 20px; /* Espacement supérieur */
    color: #575555; /* Couleur légèrement atténuée */
    border-top: 1px solid $border-color; /* Trait de séparation */
    padding-top: 15px; /* Espacement entre le trait et le texte */
  }

  .info-icon {
    font-size: 1.2rem; /* Taille des icônes */
    color: $secondary-color; /* Couleur orange pour contraster */
  }
}




// =============================
// Style bouton de retour à la liste
// =============================
.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 20px; /* Espacement autour du bouton */
  background-color: #f5f5f5; /* Couleur de fond neutre */
  color: #27586e; /* Couleur principale du texte */
  border: 2px solid #27586e; /* Bordure subtile */
  border-radius: 8px; /* Coins arrondis */
  text-decoration: none; /* Supprime le soulignement */
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease; /* Transition fluide pour les effets */
  cursor: pointer;
}

.back-button i {
  margin-right: 8px; /* Espacement entre l'icône et le texte */
}

.back-button:hover {
  background-color: #27586e; /* Couleur de fond au survol */
  color: #ffffff; /* Texte blanc au survol */
  border-color: #27586e; /* Bordure assortie */
  transform: translateY(-2px); /* Soulèvement au survol */
}

.back-button:active {
  transform: translateY(0); /* Réinitialise l'effet de soulèvement */
}

.adopt-button {
 text-align: center;
}

// =============================
// Style des images
// =============================
.animal_info-photos {
  display: flex;
  justify-content: center;
  gap: 10px; // Espacement entre les images
  flex-wrap: wrap;
  

  .animal_info-photo {
    width: 300px; // Taille fixe pour les images
    height: 200px; // Carré parfait
    object-fit: cover; // Recadrer pour remplir sans déformer
    border-radius: $photo-border-radius;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05); // Légère augmentation au survol
    }
  }
}

// =============================
// Style des sections principales
// =============================
.animal_info-sections {
  display: flex;
  justify-content: space-between; // Écarte les deux colonnes
  gap: 20px; 
  align-items: stretch; // Étire les colonnes à la même hauteur


  .animal_info-left,
  .animal_info-right {
    flex: 1; // Chaque colonne prend un espace égal
    background: #ffffff;
    border-radius: 15px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  .animal_info-right {
    .animal_info-map {
      width: 100%; // Assure que la carte occupe tout l’espace
      height: 90%; // Ajuste la hauteur de la carte
      min-height: 220px;
    }
  }
}

.animal_info-right {
  background-color: #f9f9f9; /* Fond gris clair */
  padding: 20px; /* Espacement interne */
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre élégante */
  font-family: 'Roboto', sans-serif; /* Police moderne */
  color: #333; /* Couleur de texte principale */
  margin-top: 20px; /* Espace entre les sections */
}

.association-title {
  margin-top: 10px;
  font-size: 1.5rem; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  color: #262E33; /* Couleur principale */
  margin-bottom: 15px; /* Espacement inférieur */
  text-align: center; /* Aligner à gauche */
}

.animal_info-association,
.animal_info-address,
.animal_info-phone {
  margin: 10px 0; /* Espacement entre les éléments */
  font-size: 1rem; /* Taille du texte */
  display: flex; /* Pour aligner les icônes avec le texte */
  gap: 10px; /* Espacement entre l'icône et le texte */
  align-items: center; /* Centrage vertical */
}


.info-icon {
  font-size: 1.2rem; /* Taille de l'icône */
  color: #FF5722; /* Couleur des icônes */
}
// =============================
// Responsive design
// =============================
@media (max-width: 1024px) {
  .animal_info-sections {
    flex-direction: column; // Sections empilées sur tablette
    gap: 10px;
  }

  .animal_info-photos {
    justify-content: center;

    .animal_info-photo {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: 768px) {
  .animal_info-details {
    padding: 10px;
  }

  .animal_info-name {
    font-size: 1.5rem;
  }

  .animal_info-sections {
    gap: 15px;
  }

  .animal_info-photo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .animal_info-name {
    font-size: 1.2rem;
  }

  .animal_info-photo {
    width: 80px;
    height: 80px;
  }
}

// =============================
// Modale
// =============================
.modal_info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); // Fond sombre
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Modale au-dessus de tous les autres éléments
}

.modal_info-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; // Permet à la modale de s'ajuster à la taille de l'image
  height: auto;
  max-width: 100%; // Pas de limite de largeur
  max-height: 100%; // Pas de limite de hauteur
  overflow: hidden; // Permet le défilement si l'image est trop grande
  padding: 20px;
}

.modal_info-photo {
  border-radius: $photo-border-radius;
  width: auto;
  height: auto;
  object-fit: contain;
  max-width: none;
  max-height: none;
  cursor: pointer;
}
