// Variables de couleurs
$primary-color: #4CAF50;  // Vert principal
$secondary-color: #FF5722; // Orange
$background-color: #f4f4f4; // Fond léger
$text-color: #333; // Couleur de texte principal
$border-color: #ddd; // Bordure grise
$highlight-color: #ff9800; // Couleur de survol des éléments
$photo-border-radius: 10px; // Bordure arrondie pour les images
$carousel-arrow-color: #fff; // Couleur des flèches du carrousel

// Container principal
.animal_info-details{
  background-color: $background-color;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

// Détails de l'animal
.animal_info-details {
  text-align: center;

  .animal_info-name {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 10px;
  }

  .animal_info-species,
  .animal_info-breed,
  .animal_info-gender,
  .animal_info-age,
  .animal_info-size {
    font-size: 1rem;
    color: $text-color;
    margin: 5px 0;
  }

  .animal_info-description {
    font-size: 1rem;
    color: $text-color;
    margin-top: 20px;
  }

  .animal_info-association {
    margin-top: 20px;
    font-size: 1rem;
    color: $text-color;
  }
}


.animal_info-photo {
    width: 30%;  // S'adapte à la largeur du parent
    height: auto; // La hauteur sera ajustée automatiquement pour préserver les proportions
    object-fit: contain; // Garde l'intégralité de l'image
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
