@use '../../styles/commun/commun.scss';
@use '../../styles/commun/variable.scss';


/* ==========================================================
         VARIABLES
========================================================== */
$toast-success: #079442;
$toast-error: #e21b1b;
$toast-info: #00bcd4;
$toast-warning: #ff7a22;


/* ==========================================================
         BASE STYLES (MOBILE FIRST)
========================================================== */
.toastContainer {
  position: fixed;
  top: 10%; /* Positionné en haut */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste parfaitement au centre */
  z-index: 200; /* Toujours au-dessus des autres éléments */
  display: flex;
  flex-direction: column; /* Alignement vertical des toasts */
  gap: 10px; /* Espacement entre les toasts */
  width: 90%; /* Largeur adaptée pour mobile */
  max-width: 500px; /* Largeur maximale pour tablette et PC */
  text-align: center; /* Centre le texte à l'intérieur */
}

.toast {
  background-color: $toast-info;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-out;
  font-size: 0.9rem;
  text-align: center; /* Centre le texte */
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  width: 100%; /* Assure que la largeur reste constante */
  max-width: 500px; /* Limite la largeur sur PC */
  margin: 0 auto; /* Centre horizontalement le toast */
  min-height: 50px; /* Hauteur minimale pour garder l'alignement vertical */
}



.toast button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* ==========================================================
         TOAST TYPES
========================================================== */
.toast.success {
  background-color: $toast-success;
  color: white;
}

.toast.error {
  background-color: $toast-error;
  color: white;
}

.toast.info {
  background-color: $toast-info;
  
}

.toast.warning {
  background-color: $toast-warning;
  color: white;
}

/* ==========================================================
         Tablette
========================================================== */
@media (min-width: variable.$breakpoint-tablet) {
  .toastContainer {
    top: 12%;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    flex-direction: row;
    gap: 20px;
    width: 100%;
    
  }

  .toast {
    font-size: 1rem;
  }
}

/* ==========================================================
         Desktop
========================================================== */

@media (min-width: variable.$breakpoint-desktop) {
  .toastContainer {
    top: 8%;
  }
}
