@use "../styles/commun/commun.scss";
@use "../styles/commun/variable.scss"; // breakpoints + couleurs



/* ============================= */
/* Variables                    */
/* ============================= */
$primary-color: #0044cc;
$secondary-color: #F4F4F4;
$accent-color: #ff6b6b;
$text-color: #413e3e;
$font-family: 'Roboto', sans-serif;
$border-radius: 5px;
$spacing: 16px;

/* Breakpoints */
$breakpoint-tablet: 768px; // Taille pour les tablettes et plus
$breakpoint-desktop: 1024px; // Taille pour les PC et plus

/* ============================= */
/* Conteneur principal du profil */
/* ============================= */
.containerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  padding: 20px;
  max-width: 100vw;
  margin: auto;

  h1 {
    font-size: 24px;
    color: $primary-color;
    position: relative;
    text-transform: uppercase;
    margin-bottom: $spacing;

    &::after {
      content: attr(data-title);
      position: absolute;
      font-size: 14px;
      color: $accent-color;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* ============================= */
/* Section des informations      */
/* ============================= */
.infoSection {
  width: 100%;
  max-width: 800px;
  min-width: 800px;
  background-color: white;
  padding: calc($spacing * 1.5);
  border-radius: $border-radius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 

  .infoTitle {
    text-align: center;
    font-weight: bold;
    color: $primary-color;
  }

  .infoBody {
    margin-top: $spacing;

    .forms {
      display: flex;
      flex-direction: column;
      gap: $spacing;

      .fieldsWrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing;
      }

      .infoFieldContainer {
        display: flex;
        flex-direction: column;

        &.row {
          grid-column: span 2;
        }

        .infoLabel {
          font-size: 14px;
          color: $text-color;
          margin-bottom: 8px;
        }

        .infoInput,
        select,
        textarea {
          border: 1px solid $secondary-color;
          padding: 10px;
          border-radius: $border-radius;
          font-size: 16px;
          background-color: #fff;
          color: $text-color;
          transition: border-color 0.3s;

          &:focus {
            border-color: $primary-color;
            outline: none;
          }

          &[disabled] {
            background-color: $secondary-color;
            color: #aaa;
          }
        }
      }

      .infoFieldContainer-radio {
        display: flex;
        align-items: center;
        gap: 10px;

        .infoLabel {
          font-size: 14px;
          color: $text-color;
          margin-bottom: 8px;
        }

        .radio-group {
          display: flex;
          gap: calc($spacing * 2);

          .radio-label {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #333;

            input {
              display: none;
            }

            .custom-radio {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 2px solid $primary-color;
              margin-right: 8px;
              display: inline-block;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
                background-color: $primary-color;
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.2s;
              }
            }

            input:checked + .custom-radio::after {
              opacity: 1;
            }
          }
        }
      }

      .formBtns {
        display: flex;
        justify-content: center;
        gap: $spacing;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: $border-radius;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s;

          &.submitBtnProfile {
            background-color: $primary-color;
            color: white;

            &:hover {
              background-color: $primary-color;
            }

            &:disabled {
              background-color: $primary-color;
              cursor: not-allowed;
            }
          }

          &.editBtn {
            background-color: $accent-color;
            color: white;

            &:hover {
              background-color: $accent-color;
            }
          }
        }
      }
    }
  }
}

/* ============================= */
/* Toast                         */
/* ============================= */
.Toast {
  position: fixed;
  bottom: calc($spacing * 2);
  left: 50%;
  transform: translateX(-50%);
  background-color: $accent-color;
  color: white;
  padding: $spacing;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.uploadMessage {
  margin-top: 8px; /* Espacement au-dessus */
  font-size: 14px; /* Taille de police */
  text-align: center; /* Centrer sous l'image */
  color: #28a745; /* Exemple : Vert (succès) */
}


/* ============================= */
/* Boutons de suppression d'image */
/* ============================= */
.button-container {
  text-align: center; /* Centre horizontalement tous les éléments enfants */
}

.deletePhotoBtn {
  padding: 8px 16px; /* Réduit la taille du padding */
  width:  auto; /* Utilise une largeur automatique */
  background-color: #ff4d4f; /* Couleur rouge principale */
  color: #fff; /* Couleur du texte */
  font-size: 14px; /* Taille du texte plus petite */
  font-weight: bold; /* Texte en gras */
  border: 2px solid transparent; /* Bordure transparente pour l'effet focus */
  border-radius: 20px; /* Coins légèrement arrondis */
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Transition fluide pour les changements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner un relief */

  &:hover {
    background-color: #d9363e; /* Rouge plus foncé au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Accentuation de l'ombre */
    transform: translateY(-2px); /* Légère élévation */
  }

  &:active {
    background-color: #c02c2e; /* Rouge encore plus foncé pour le clic */
    transform: translateY(1px); /* Effet d'enfoncement */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Réduction de l'ombre */
  }

  &:focus {
    outline: none;
    border: 2px solid #fff; /* Bordure blanche pour focus accessible */
    box-shadow: 0 0 0 3px rgba(255, 77, 79, 0.5); /* Effet de halo rouge clair */
  }
}




/* ============================= */
/* Responsiveness                */
/* ============================= */
@media (max-width: 1024px) {
  .containerProfile {
    padding: calc($spacing * 2);
    max-width: 95%;
  }

  .infoSection {
    padding: $spacing;
  }

  .forms {
    gap: $spacing;
  }
}

@media (max-width: 768px) {
  .containerProfile {
    padding: calc($spacing * 2);
    max-width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  .infoSection {
    padding: $spacing;
  }

  .fieldsWrap {
    grid-template-columns: 1fr;
  }

  .formBtns {
    flex-direction: column;
    gap: $spacing;
  }
}
