:root {
  --blue-light: #f0e6d9;
  --bghovercard: #27586E;
  --bgfilter: #FFFFFF;
  --blue-dark: #262E33;
  --white: #ffffff;
  --gray: #a39789;
  --blue-hover: #276e47;
  --background-color: #B9C9D3;
  --textCard: #35261c;
}

.animals-container {
  background-color: var(--background-color);
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

main.Animals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

/* Style pour le lien */
.animal-link {
  text-decoration: none; /* Supprime le soulignement du lien */
  color: inherit; /* Hérite de la couleur du parent */

  /* Pour éviter tout décalage ou effet inattendu */
  display: block; /* Fait en sorte que tout le contenu interne prenne l'espace du parent */
  width: 100%; /* Assure que le lien occupe tout l'espace */
  height: 100%;
}

/* Image de l'animal */
.animal-photo {
  width: 100%; /* Image occupe toute la largeur du conteneur */
  height: auto; /* Garde le ratio d'aspect */
  border-radius: 8px; /* Ajoute des coins arrondis si nécessaire */
  object-fit: cover; /* Assure que l'image remplit bien le conteneur */
}


.filters {
  background-color: var(--white);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  position: sticky;
  top: 20px;
}

.filters select {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: var(--textCard);
  cursor: pointer;
  transition: border-color 0.3s ease;
  width: 100%;
  height: 40px;
}

.filters select:hover, .filters select:focus {
  border-color: var(--blue-hover);
  outline: none;
}

.default-option {
  color: var(--gray);
}

#apply-filters-btn {
  padding: 10px 15px;
  background-color: var(--blue-hover);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#apply-filters-btn:hover {
  background-color: var(--bghovercard);
}

.reset-btn {
  background: none;
  border: none;
  color: var(--blue-dark);
  font-size: 18px;
  cursor: pointer;
  align-self: flex-end;
  transition: color 0.3s ease;
  padding: 5px;
}

.reset-btn:hover {
  color: var(--blue-hover);
}

.animal-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.animal-item {
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animal-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.animal-name {
  font-weight: bold;
  padding: 10px 0;
  color: var(--textCard);
  font-size: 1.2rem;
}

.animal-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.animal-details {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--blue-dark);
}

#no-animals-found {
  color: var(--blue-dark);
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  width: 100%;
}

@media (min-width: 750px) {
  main.Animals {
    flex-direction: row;
    align-items: flex-start;
  }

  .filters {
    width:350px;
 
  }

  .animal-list-container {
    flex: 1;
  }
}

@media (min-width: 1000px) {
  .animal-item {
    width: calc(33.333% - 20px);
  }
}