@use '../../styles/commun/variable.scss'; // Breakpoints


/* ============================= */
/* Variables de couleur          */
/* ============================= */
$page-background: #f4f4f4;

/* ==========================================================
        BASE STYLES (MOBILE FIRST)
   ========================================================== */
.animals-container {
   background-color: $page-background;
   display: flex;
   flex-direction: column; /* Filtre en haut par défaut */
   gap: 20px;
   padding: 20px;
   box-sizing: border-box;

   @media (min-width: variable.$breakpoint-desktop) {
     flex-direction: row; /* PC : filtre à gauche */
     align-items: flex-start;
   }
}

/* ==========================================================
        Styles pour les téléphones en mode paysage
   ========================================================== */
@media (min-width: 480px) and (max-width: variable.$breakpoint-tablet) and (orientation: landscape) {
   .item-list {
      .item-card {
         width: 170px;
         height: auto;
      }
   }
}
