/* ============================= */
/* Variables de couleur          */
/* ============================= */
$page-background: #f4f4f4;

/* ============================= */
/* Style principal de la page    */
/* ============================= */
.animals-container {
  background-color: $page-background;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  
}

main.Animals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

// race
.item-card-breed{
  margin-bottom: 5px;
}

@media (min-width: 750px) {
  main.Animals {
    flex-direction: row;
    gap: 20px;
  }
}
