$color-accent: #ff6b6b;
$color-primary: #0044cc;
$color-background: #F4F4F4;
$bg-bg-pending: rgb(248, 234, 197);
$bg-bg-rejected: rgb(243, 205, 205);
$bg-bg-validated: rgb(207, 241, 207);
$spacing: 16px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.family-asks-container {
  background: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100vw;
  min-height: 83.2vh;

  h2 {
    font-size: 24px;
    color: $color-primary;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;

    &::after {
      content: attr(data-title);
      position: absolute;
      font-size: 14px;
      color: $color-accent;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .ask-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Grille avec trois colonnes
    gap: 50px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .ask-column {
      background-color: rgb(255, 255, 255);
      padding: $spacing;
      border-radius: 8px;
      box-shadow: $box-shadow;

      h3 {
        margin-bottom: $spacing;
        color: rgb(114, 113, 113);
        text-align: center;
        text-transform: none;
      }

      .ask-list {
        list-style: none;
        padding: 0;

        .ask-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          border-radius: 8px;
          background-color: #fff;
          box-shadow: $box-shadow;
          transition: all 0.3s ease;
          margin-bottom: $spacing;

          &.pending {
            background: $bg-bg-pending;
            border: 1px solid rgb(201, 199, 199);
          }

          &.validated {
            background: $bg-bg-validated;
            border: 1px solid rgb(201, 199, 199);
          }

          &.rejected {
            background: $bg-bg-rejected;
            border: 1px solid rgb(201, 199, 199);
          }

          &:hover {
            transform: translateY(-4px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          }

          .ask-item-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;
            text-decoration: none;
            color: inherit;
          }

          .animal_info-photos {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            border-radius: 8px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            flex-grow: 1;

            p {
              margin: 0;
              color: #111111;
              font-size: 14px;
              line-height: 1.4;

              strong {
                color: #111111;
                font-size: 1.2rem;
                
              }

              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
          }

          .delete-button {
            font-size: 16px;
            color: rgb(78, 76, 76);
            cursor: pointer;
            transition: background-color 0.3s ease;

            i {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}
// familyAnimalsAsk.scss

.animal-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); // Couleur d'arrière-plan semi-transparente
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #262E33; // Couleur d'arrière-plan blanche pour le contenu
    padding: 20px;
    border-radius: 8px;
    
    h3 {
      margin-bottom: 15px;
      text-align: center;
      color: #eef6ff;
    }

    p {
      margin-bottom: 10px; 
      
       strong {
         color: white; // Couleur du texte fort
       }
     }

     img.animal-photo {
       max-width:100%; // S'assurer que l'image ne dépasse pas le conteneur
       border-radius:8px; 
     }

     .close-modal {
       position:absolute; 
       top:10px; 
       right:10px; 
       background:none; 
       border:none; 
       font-size:18px; 
       cursor:pointer;

       &:hover {
         color:#e74c3c; // Couleur au survol
       }
     }
   }
}
.more-info-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #0044cc; // Couleur principale
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #003399; // Couleur au survol
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); // Léger déplacement vers le haut
  }

  &:active {
    background-color: #002266; // Couleur au clic
    transform: translateY(0); // Réinitialisation du déplacement
  }
}
