.profileImgWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .profileImgPreview {
    width: 200px; /* Taille de l'image */
    height: 200px; /* Taille de l'image */
    border-radius: 50%; /* Rend l'image ronde */
    object-fit: cover; /* Adapte l'image à la zone tout en gardant ses proportions */
    border: 2px solid #ccc; /* Bordure grise */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre légère */
    margin-bottom: 10px; /* Espacement avec le bouton */
  }

  .profileImgBtns {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileImgBtn {
      display: inline-block;
      background-color: #007bff; /* Couleur bleue */
      color: white;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      border: none;
      border-radius: 20px; /* Bouton arrondi */
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3; /* Bleu foncé au survol */
      }
    }

    #image-upload {
      display: none; /* Masquer l'input file */
    }
  }
}
