@use '../../styles/commun/variable.scss';
@use '../../styles/commun/commun.scss';


   /* ==========================================================
         BASE STYLES (MOBILE FIRST)
    ========================================================== */
   .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 10px;
     background-color: variable.$header-bg-color;
     color: variable.$header-text-color;
     min-height: 69px;
     box-sizing: border-box;
   }
   
   .header-left {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   
     .logo-img {
       height: 40px; // Taille par défaut pour mobile
       width: auto;
     }
   
     h1 {
       display: none; // Masqué sur mobile
     }
   }
   
   .header-center {
     flex-grow: 1;
   
     .header-links {
       display: flex;
       justify-content: center;
       gap: 20px;
       width: 100%;
       text-align: center;
   
       .nav-link:first-child {
         display: none; // Cache "Accueil" sur mobile
       }
   
       .nav-link {
         font-size: 1rem;
         text-decoration: none;
         color: variable.$header-text-color;
         padding: 8px 16px;
         border-radius: 5px;
         background-color: transparent;
         transition: background-color 0.3s ease;
   
         &:hover {
           background-color: rgba(255, 255, 255, 0.2);
         }
   
         &.active-link {
           background-color: variable.$header-link-actif;
           color: black;
         }
       }
     }
   }
   
   .header-right {
     .auth-container {
       display: flex;
       align-items: center;
   
       .auth-button {
         display: none; // Masqué par défaut sur mobile
       }
       .user-firstname {
         display: none;
       }
       .fa-user {
         font-size: 1.4rem;
       }
       .auth-button-mobile {
         display: inline-block;
         background: none;
         border: none;
         color: variable.$header-text-color;
         font-size: 1.5rem;
         cursor: pointer;
   
         &:hover {
           color: variable.$header-button-hover-color;
         }
       }
     }
   }
   
   /* ==========================================================
         TABLETTE ET PLUS
      ========================================================== */
   @media screen and (min-width: variable.$breakpoint-tablet) {
    .header {
      min-height: 90px;
    }
     .header-left {
       .logo-img {
         height: 45px; // Taille augmentée sur tablette
       }
   
       h1 {
         display: block; // Affiche le H1
         font-size: 1.2rem;
         margin: 0;
         line-height: 1.2;
       }
     }
   
     .header-center {
       .header-links {
         .nav-link:first-child {
           display: flex; // Affiche "Accueil" sur tablette
         }
   
         .nav-link {
           font-size: 1rem;
         }
       }
     }
   
     .header-right {
       .auth-container {
         .auth-button {
           display: inline-block; // Affiche le bouton classique sur tablette
           background-color: variable.$header-button-bg-color;
           color: variable.$header-text-color;
           border: none;
           border-radius: 5px;
           padding: 8px 16px;
           font-size: 1rem;
           cursor: pointer;
           transition: background-color 0.3s ease;
   
           &:hover {
             background-color: variable.$header-button-hover-color;
           }
         }
   
         .auth-button-mobile {
           display: none; // Masque l'icône mobile
         }
       }
     }
   }
   
   /* ==========================================================
         DESKTOP ET PLUS
      ========================================================== */
   @media screen and (min-width: variable.$breakpoint-desktop) {
     .header-right {
       .auth-container {
         display: flex;
         flex-direction: column; // Passe en colonne pour PC
         align-items: center;
         margin-right: 15px;
   
         i {
           font-size: 1.5rem; // Taille de l'icône
           margin-bottom: 5px; // Espacement entre l'icône et le nom
         }
   
         .user-firstname {
           display: block; // Affiche le nom
           font-size: 0.9rem;
           color: variable.$header-text-color;
           text-align: center; // Centrer le texte sous l'icône
         }
       }
     }
   }
   