/* ============================= */
/* Variables de couleur          */
/* ============================= */
$footer-bg-color: #262e33; /* Couleur de fond du pied de page */
$text-color: white; /* Couleur du texte */
$social-icon-color: white; /* Couleur des icônes sociales */
$social-icon-hover-color: #1da1f2; /* Couleur des icônes au survol */
$copyright-font-size: 0.9rem; /* Taille de la police pour le copyright */

/* Breakpoints */
$breakpoint-tablet: 1024px; // Taille pour les tablettes
$breakpoint-mobile: 768px; // Taille pour les mobiles
/* ============================= */
/* Style principal du footer     */
/* ============================= */
.footer {
  background-color: $footer-bg-color;
  color: $text-color;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%; /* Utilisation de 100% pour éviter les débordements */
  box-sizing: border-box;
}

/* ============================= */
/* Contenu du footer             */
/* ============================= */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* ============================= */
/* Icônes de réseaux sociaux     */
/* ============================= */
.social-media {
  display: flex;
  justify-content: center;
  gap: 55px;
  
}

.social-icon {
  font-size: 1.5rem;
  color: $social-icon-color;
  transition: color 0.3s ease;

  &:hover {
    color: $social-icon-hover-color; /* Couleur au survol */
  }
}

/* ============================= */
/* Texte du copyright            */
/* ============================= */
.copyright p {
  font-size: $copyright-font-size;
  margin: 0;
}

/* ============================= */
/* Liens de navigation           */
/* ============================= */
.nav-link {
  font-size: 1rem;
  margin-right: 10px;
}
//! Media queries pour ajuster le design à différentes tailles d'écran  
@media screen and (max-width :breakpoint-tablet) {
  // Ajustements à venir pour les écrans inférieurs à1024px  
}

@media screen and (max-width :$breakpoint-mobile) {

  
}
