/* Définition des variables de couleur */
:root {
  --footer-bg-color: #262e33;
  --text-color: white;
  --social-icon-color: white;
  --social-icon-hover-color: #1da1f2; /* Bleu pour Instagram */
  --copyright-font-size: 0.9rem;
}

.footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100vw; /* Remplacé de 100vw à 100% pour éviter les débordements */
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-left: 20px;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--social-icon-color);
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--social-icon-hover-color); /* Utilisation de la variable pour le survol */
}

.copyright p {
  font-size: var(--copyright-font-size);
  margin: 0;
}

.nav-link {
  font-size: 1rem;
  margin-right: 20px;
}