/* ============================= */
/* Variables de couleur          */
/* ============================= */
$background-dark: #141414;
$text-color: white;
$semi-transparent-dark: rgba(20, 40, 64, 0.5);

/* ============================= */
/* Mobile-first styles           */
/* ============================= */
.home-container {
  width: 100vw;
  height: 83.2vh; 
  background-image: url('../../assets/images/img-homepage.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-title {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  color: $text-color;
  font-weight: bold;
  background: #02011060;
  padding: 10px 20px;
  border-radius: 8px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: center;
}

.home-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.home-text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: 100%;
  margin-left: 2rem;
  backdrop-filter: blur(10px);
}

.home-content1,
.home-content2 {
  font-size: 1.1rem;
  line-height: 1.5;
}

.bold-text {
  font-weight: 700;
}

/* ============================= */
/* Styles pour les écrans plus larges */
/* ============================= */
@media (min-width: 768px) {
  .home-title {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .home-content {
    flex-direction: row;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .home-content-wrapper {
    width: 100%;
    height: 100%;
  }

  .home-text-right {
    width: 50%;
    margin-left: 2rem;
  }

  .home-content1,
  .home-content2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .home-text-right {
    border-radius: 30px;
    padding: 0;
    margin-left: 65rem;
    width: 40%;
    height: 350px;
  }

  .home-content {
    margin-bottom: 10rem;
  }

  .home-content1,
  .home-content2 {
    font-size: 1.4rem;
    padding-left: 10px;
  }

  .home-content2 {
    padding-top: 1rem;
  }

  .home-title {
    display: inline-block;
    width: 40vw;
    align-self: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
  }
}
