@use '../../styles/commun/commun.scss';
@use '../../styles/commun/variable.scss';



/* ============================= */
/* Mobile-first styles           */
/* ============================= */
.home-container {
  width: 100vw;
  height: 84.7vh;
  background-image: variable.$HomePage-background-mobile;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: variable.$HomePage-text-color;
  font-weight: bold;
  background: variable.$HomePage-title-bg;
  padding: 10px 5px;
  margin: 20px 20px;
  border-radius: 8px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  gap: 15px;
}

.home-content1 {
  background-color: variable.$HomePage-content-bg-color;
  color: variable.$HomePage-bold-text-color;
  padding: 6px 12px;
  border-radius: 15px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.home-content2 {
  background-color: variable.$HomePage-content-bg-color;
  color: variable.$HomePage-bold-text-color;
  padding: 6px 12px;
  border-radius: 15px;
  width: 100%;
  height: auto;
  gap: 15px;
}

.home-text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: variable.$HomePage-text-color;
  padding: 10px;
  width: 90%;
  font-size: 0.9rem;
}

.bold-text {
  font-weight: 700;
}

/* ============================= */
/* Styles pour tablettes         */
/* ============================= */
@media (min-width: variable.$breakpoint-tablet) {
  .home-container {
    background-image: variable.$HomePage-background-desktop;
    background-size: cover;
    background-position: left center;
    min-height: 84.7vh;
  }

  .home-title {
    font-size: 2rem;
    margin-top: 1.5rem;
    padding: 8px 16px;
  }

  .home-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .home-text-right {
    margin-top: 20px;
    width: 50%;
    font-size: 1rem;
    margin-right: 2%;
    gap: 50px;
  }
}

/* ============================= */
/* Styles pour desktops          */
/* ============================= */
@media (min-width: variable.$breakpoint-desktop) {
  .home-container {
    background-image: variable.$HomePage-background-desktop;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
  }

  .home-title {
    font-size: 2.5rem;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    background: variable.$HomePage-title-bg;
    border-radius: 10px;
  }

  .home-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
  }

  .home-text-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-right: 5%;
    font-size: 1.2rem;
  }

  .home-content1 {
    background-color: variable.$HomePage-content-bg-color;
    color: variable.$HomePage-bold-text-color;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  .home-content2 {
    background-color: variable.$HomePage-content-bg-color;
    color: variable.$HomePage-bold-text-color;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
  }
}
