@use "../../styles/commun/variable.scss";// breakpoints 
/* ============================= */
/* Variables de couleur          */
/* ============================= */
$text-main: #383838;

/* ============================= */
/* Style pour le conteneur de la liste */
/* ============================= */
.item-list {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  align-items: flex-start; 
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100vw;


}


#no-items-found {
  color: $text-main;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

@media (min-width: variable.$breakpoint-tablet) {
  .item-list {
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
  }
  @media (min-width: variable.$breakpoint-desktop) {
    .item-list {
      padding-left: 100px; // pour animalList des asso uniquement
      justify-content: flex-start; 
      align-items: center; 
   
  }

  .no-padding-item-list .item-list {
    padding-left: 0;  //classe pour supprimer le padding dans animalsListPAge
  }
  }
}