@use '../../styles/commun/variable.scss'; // Breakpoints

/* Breakpoints */
$breakpoint-tablet: 768px; // Taille pour les tablettes et plus
$breakpoint-desktop: 1024px; // Taille pour les PC et plus

/* ============================= */
/* Variables de couleur          */
/* ============================= */
$page-background: #f4f4f4;
$title-color:#262E33;

/* ==========================================================
       Conteneur principal
========================================================== */
.association-animals-container {
  background-color: $page-background;
  display: flex;
  flex-direction: column; /* Empile les enfants sur mobile */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;


/* Style pour le titre de la page */
.page-title {
  color: $title-color; /* Couleur blanche */
  text-align: center; /* Centrer le titre */
  font-size: 1.2rem; /* Taille de police par défaut */
  margin-bottom: 20px;

  /* Responsive : Ajuste la taille sur les écrans plus grands */
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.5rem; /* Augmenter la taille sur tablette */
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.7rem; /* Augmenter encore plus sur desktop */
  }
}


    @media (min-width: 576px) and (orientation: landscape) {
      grid-template-columns: repeat(3, 1fr); /* Mobile paysage */
    }

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(3, 1fr); /* Tablette */
    }

    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(4, 1fr); /* Desktop */
    }
  }

